*{
    padding: 0px;
    margin: 0px;
    transition: all 0.5s !important;
    font-family: "SF Pro SC","SF Pro Display","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif !important;
    
}

header{
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255,255,255,0.9);
    padding:0.25rem 10vw;
    font-size: 15pt;
}

.nav-link{
    color: #07913B !important;
}

header button{
    border: 0 !important;
    padding: 6px 15px !important;
    background: rgba(255, 255, 255, 0) !important;
    color: #07913B !important;
}

button.czp{
    border: 2px solid #07913B !important;
    border-right: 1px dashed #07913B !important;
    border-radius: 100px 0 0 100px !important;
    float: left;
}

button.dqh{
    border: 2px solid #07913B !important;
    border-left: 1px dashed #07913B !important;
    border-radius: 0 100px 100px 0 !important;
    float: right;
}

button.czp:hover{
    background: #ff6666 !important;
    border-color: #ff6666 !important;
    color: white !important;
}

button.dqh:hover{
    background: #b5ace3 !important;
    border-color: #b5ace3 !important;
    color: white !important;
}

.head{
    position: relative;
    color: white;
    overflow: hidden;
}

.head_content{
    height: 120vh;
    display: flex;
    flex-direction: column;
    animation: a 1.3s both;
    padding-left: 10vw;
    padding-top: calc((100vh - (1.375rem + 6vw) * 2) / 2);
}

.head_content::after{
    content: "";
    background: url('img/logo_white.png') no-repeat 125% 80%;
    background-size: 50% auto;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;
}

.head_bottom {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    bottom: 0;
    width: 150%;
    min-width: 1440px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(to left bottom, #07913B, #07913ccc);
    border-radius: 0 0 50% 50%;
    z-index: -1;
    overflow: hidden;
}

.head h1{
    font-size: calc(1.375rem + 6vw);
    letter-spacing: 2px;
}

.child-page-for-phone{
    padding: 2vh 0; 
    text-align: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255,255,255,0.9);
}

.body{

    height: 10000px;
}

@media screen and (max-width: 1200px){
    .nav{
        display: none !important;
    }

    header button{
        margin: 0.5vh 0;
        background: rgba(255, 255, 255, 0) !important;
        color: #07913B !important;
    }

    button.czp{
        margin-left: 10px;
        border: 2px solid #07913B !important;
        border-right: 1px dashed #07913B !important;
    }
    
    button.dqh{
        border: 2px solid #07913B !important;
        border-left: 1px dashed #07913B !important;
    }
}

@media screen and (max-width: 1200px) and (min-width: 786px){
    /* */
}

@media screen and (max-width: 785px) and (min-width: 405px){
    /* */
}

@media screen and (max-width: 404px){
    #logo{
        display: none !important;
    }

    button.czp{
        margin-left: 0 !important;
    }
}